<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard | Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="UI/vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="UI/vendors/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="UI/css/treasure-overlay-spinner.css">
    <!--Loading style vendors-->

    <link type="text/css" rel="stylesheet" href="UI/vendors/iCheck/skins/all.css">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="UI/css/themes/Custom.css" id="theme-change" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="UI/css/style-responsive.css">
    <link rel="shortcut icon" href="UI/images/favicon.ico">
    <!--<style>
        body {
            background: rgba(0, 0, 0, 0) url("UI/images/img5.jpg") no-repeat scroll center center / cover;
            height: 60%;
        }
    </style>-->
</head>
<body ng-app="myApp1" ng-controller="myCtrl" ng-init="GetCustomer();">

    <div class="row" style="border:none; background:white; height:400px;">
        <div class="row">
            <div class="col-xs-6">
                <div class="col-xs-12">
                    <img src="UI/images/Procure-to-Pay.jpg" style="width:600px;height:300px;" />
                    <!--<img src="UI/images/rawpixel-678089-unsplash.jpg" style="width:600px;height:400px;" />-->
                </div>
                <div class="col-xs-12">
                    <img src="UI/images/purchasing.png" style="width:600px;height:300px;" />
                    <!--<img src="UI/images/rawpixel-678089-unsplash.jpg" style="width:600px;height:400px;" />-->
                </div>
            </div>

                <div class="col-xs-6">
                    <div class="row">
                        <h3 style="margin-left:80px;">Tendering & Sales Order Management flow simulation</h3>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 1: Send enqury as customer</h4></div>
                            <div class="panel-body"><button type="button" data-target="#Modal-header-new" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Send Equiry</button></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 2: Send quote request to suppliers</h4></div>
                            <!--<div class="panel-body"><button type="button" data-target="#Modal-header-suppliers" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Send Quote to Suppliers</button></div>-->
                            <div class="panel-body">this will done through portal</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 3:Get Supplier quote</h4></div>
                            <div class="panel-body"><button type="button" data-target="#Modal-header-getsuppliersquote" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Get Supplier Quote</button></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 4: Send final quote to customer</h4></div>
                            <!--<div class="panel-body"><button type="button" data-target="Modal-header-paysuppliers" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Send Final Quote to Customer</button></div>-->
                            <div class="panel-body">This will be done through portal</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 5: Customer confirmation</h4></div>
                            <div class="panel-body"><button type="button" data-target="#Modal-header-CustomerConfirmation" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Customer Confirmation</button></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 6: Invoice request to Supplier</h4></div>
                            <div class="panel-body"><button type="button" data-target="#Modal-header-cutomerinvoice" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Invoice Request to Supplier</button></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 7: Get Suppliers invoice </h4></div>
                            <div class="panel-body"><button type="button" data-target="#Modal-header-suppliers" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Get Suppliers Invoice</button></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 8: Send Suppliers PO</h4></div>
                            <div class="panel-body"><button type="button" data-target="#Modal-header-purchaseorder" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Send Suppliers PO</button></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 9: Generate Delivery Note</h4></div>
                            <div class="panel-body"><button type="button" data-target="#Modal-header-Deliverynote" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Generate Delivery Note</button></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 10: Customer payment confirmation</h4></div>
                            <div class="panel-body"><button type="button" data-target="#Modal-header-suppliers" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Confirm Customer Payment</button></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Step 11: Payment to suppliers</h4></div>
                            <div class="panel-body"><button type="button" data-target="#Modal-header-paysuppliers" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Payment to Suppliers</button></div>
                        </div>
                    </div>

                    <!--<div class="row">
                      
                        
                        <button type="button" data-target="#Modal-header-finalQuotes" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Customer (Final Quote)</button>
                        <button type="button" data-target="#Modal-header-ConfirmQuotes" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Customer (Confirm Quote) </button>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <button type="button" data-target="#Modal-header-reqinvoice" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Send Supplier (Req Invoice)</button>
                        <button type="button" data-target="#Modal-header-new" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;"> Get Invoice(Quote)</button>
                        <button type="button" data-target="#Modal-header-shippingorder" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;"> Send Shipping order</button>
                        <button type="button" data-target="#Modal-header-paysuppliers" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">Pay Suppliers</button>

                    </div>
                    <div class="row" style="margin-top:5px;">
                        <button type="button" data-target="#Modal-header-suppliers" data-toggle="modal" class="btn btn-primary" style="width:140px;height:30px;">GetPayment Reciept</button>
                    </div>-->
                </div>
            </div>
        
    </div>
                                    
    <!-- Send Enquiry-->
    <div id="Modal-header-new" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header modal-header-primary">
                                                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                                                    <h4 id="modal-header-primary-label" class="modal-title">Send Enquiry</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                                                            <div class="row">
                                                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Cust.Email" style="width:100%"></div>
                                                                <div class="col-md-6">
                                                                    Customer:<select ng-options="Cust1.Name for Cust1 in Customers track by Cust1.id" ng-model="Cust" style="width:60%">
                                                                              <option value="">All</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="row" style="margin-top:10px;">
                                                                <table class="table table-bordered" style="background-color: white;">
                                                                    <thead>
                                                                        <tr style="height:50px">
                                                                            <th style="text-align:center;">Selected Item</th>                                                                            
                                                                            <th style="text-align:center;">Item</th> 
                                                                            <th style="text-align:center;">Item Description</th>                                                                           
                                                                            <th style="text-align:center;">No. of Units</th>                                                                           
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="a in Equipement">
                                                                            <td style="text-align:center;"><input type="checkbox" style="border:1px grey;" class="icheckbox_minimal-grey activeCheckbox" ng-model="a.active" ng-true-value="1" ng-false-value="0" ng-click="SetData(a)" /></td>                                                                           
                                                                            <td style="text-align:center;">                                                                               
                                                                                {{a.ItemName}}
                                                                            </td> 
                                                                            <td style="text-align:center;">{{a.Description}}
                                                                            <!--<input type="text"  ng-model="a.des" class="form-control"/>-->
                                                                            </td>                                                                                                                                                                                                                                  
                                                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="qty=0" ng-model="a.qty" min="0" /></td>                                                                            
                                                                        </tr>
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr style="height:50px">

                                                                            <td colspan="5" align="center"><button class="btn-primary form-control" style="height:40px;width:100%;font-size:12px;border-radius:10px;" ng-click="SendMail()">Send Enquiry</button></td>

                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
    <div id="Modal-header-getsuppliersquote" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Get Quote from supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                            <div class="row">
                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Email" style="width:100%"></div>
                                <div class="col-md-6">
                                    Supplier:<select ng-options="sup.Name for sup in Suppliers track by sup.id" ng-model="Sup" style="width:60%">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;">

                                <table class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr style="height:50px">
                                            <th style="text-align:center;">Selected Item</th>
                                            <th style="text-align:center;">Item</th>
                                            <th style="text-align:center;">Quantity</th>
                                            <th style="text-align:center;">Per Unit Price</th>
                                            <th style="text-align:center;">Sub Total</th>
                                            <th style="text-align:center;">Taxes</th>                                            
                                            <th style="text-align:center;">Discounts</th>
                                            <th style="text-align:center;">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="check">
                                        <tr ng-repeat="a in Equipement">
                                            <td style="text-align:center;"><input type="checkbox" style="border:1px grey;" class="icheckbox_minimal-grey activeCheckbox" ng-model="a.active" ng-true-value="1" ng-false-value="0" ng-click="SetData(a)" /></td>
                                            <td style="text-align:center;">
                                                {{a.ItemName}}
                                            </td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="qty=0" ng-model="a.qty" min="0" /></td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="perunit=0" ng-model="a.perunit" min="0" /></td>                                            
                                            <td style="text-align:center;"><span ng-show="a.qty!=null || a.perunit!=null;">{{a.qty*a.perunit}}</span></td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="tax=0" ng-model="a.tax" min="0" /></td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="dis=0" ng-model="a.dis" min="0" /></td>                                                                                       
                                            <td style="text-align:center;"><span ng-show="a.qty!=null || a.perunit!=null;">{{(a.qty*a.perunit)+a.tax+a.dis}}</span></td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="height:50px">

                                            <td colspan="7" align="center"><button class="btn btn-primary form-control" style="width:100%;height:40px;" ng-click="GetSupplierQuote()">Sample supplier Quote</button></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="Modal-header-CustomerConfirmation" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Customer order confirmation</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                            <div class="row">
                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Cust.Email" style="width:100%"></div>
                                <div class="col-md-6">
                                    Customer:<select ng-options="Cust1.Name for Cust1 in Customers track by Cust1.id" ng-model="Cust" style="width:60%">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row col-md-12" style="margin-top:10px;">
                                <textarea ng-model="emailcontent" rows="3" style="width:100%;"></textarea>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <button class="btn btn-primary form-control" style="width:100%;height:40px;margin-top:10px;" ng-click="SendCustomerConfirmationEmail()">Send Customer Confirmation Email</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Customer final Quotes-->
    <div id="Modal-header-finalQuotes" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Final Quote to Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                            <div class="row">
                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Email" style="width:100%"></div>
                                <div class="col-md-6">
                                    Customer:<select ng-options="Cust.Name for Cust in Customers track by Cust.id" ng-model="Cust" style="width:60%">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;">
                                
                                <table class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr style="height:50px">
                                            <th style="text-align:center;">Selected Item</th>
                                            <th style="text-align:center;">Item</th>
                                            <th style="text-align:center;">Per Unit Price</th>
                                            <th style="text-align:center;">Taxes</th>
                                            <th style="text-align:center;">Margin</th>
                                            <th style="text-align:center;">Discounts</th>
                                            <th style="text-align:center;">Sub Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in Equipement">
                                            <td style="text-align:center;"><input type="checkbox" style="border:1px grey;" class="icheckbox_minimal-grey activeCheckbox" ng-model="a.active" ng-true-value="1" ng-false-value="0" ng-click="SetData(a)" /></td>
                                            <td style="text-align:center;">
                                                {{a.Name}}
                                            </td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="qty=0" ng-model="a.qty" min="0" /></td>
                                            <td style="text-align:center;"></td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="perunit=0" ng-model="a.perunit" min="0" /></td>
                                            <td style="text-align:center;"></td>
                                            <td style="text-align:center;"><span ng-show="a.qty!=null || a.perunit!=null;">{{a.qty*a.perunit}}</span></td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="height:50px">

                                            <td colspan="7" align="center"><button class="btn btn-primary form-control" style="width:100%;height:40px;" ng-click="SendfinalQuote()">Final Quote to Customer</button></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Customer Confirm Quotes-->
    <div id="Modal-header-ConfirmQuotes" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Customer Cofirmation</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                            <div class="row">
                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Email" style="width:100%"></div>
                                <div class="col-md-6">
                                    Supplier:<select ng-options="Cust.Name for Cust in Customers track by Cust.id" ng-model="Cust" style="width:60%">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;">
                                <table class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr style="height:50px">
                                            <th style="text-align:center;">Selected Item</th>
                                            <th style="text-align:center;">Item</th>
                                            <th style="text-align:center;">No. of Units</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in Equipement">
                                            <td style="text-align:center;"><input type="checkbox" style="border:1px grey;" class="icheckbox_minimal-grey activeCheckbox" ng-model="a.active" ng-true-value="1" ng-false-value="0" ng-click="SetData(a)" /></td>
                                            <td style="text-align:center;">
                                                {{a.Name}}
                                            </td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="qty=0" ng-model="a.qty" min="0" /></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="height:50px">

                                            <td colspan="5" align="center"><button class="btn-primary form-control" style="height:40px;width:100%;font-size:12px;border-radius:10px;" ng-click="Sendconfirmquote()">Customer Confirmation</button></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Send Request Invoice-->
    <div id="Modal-header-reqinvoice" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Request for Invoice</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                            <div class="row">
                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Email" style="width:100%"></div>
                                <div class="col-md-6">
                                    Supplier:<select ng-options="Cust.Name for Cust in Customers track by Cust.id" ng-model="Cust" style="width:60%">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;">
                                <table class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr>
                                            <th> Message for Supplier</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center;"><textarea ng-model="des" rows="5" class="form-control"></textarea></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="height:50px">

                                            <td colspan="5" align="center"><button class="btn-primary form-control" style="height:40px;width:100%;font-size:12px;border-radius:10px;" ng-click="Sendreqinoice()">Request for Invoice</button></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Pay Suppliers-->
    <div id="Modal-header-paysuppliers" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Pay Suppliers</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                            <div class="row">
                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Email" style="width:100%"></div>
                                <div class="col-md-6">
                                    Supplier:<select ng-options="Cust.Name for Cust in Customers track by Cust.id" ng-model="Cust" style="width:60%">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>

                            <!--<div class="row" style="margin-top:5px;">
                                
                                <input type="file" file-reader="fileContent" style="width:100%" />
                            </div>-->
                            <div class="row" style="margin-top:10px;">
                                
                                <table class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr style="height:50px">
                                            <th style="text-align:center;">Selected Item</th>
                                            <th style="text-align:center;">Item</th>
                                            <th style="text-align:center;">Quantity</th>
                                            <th style="text-align:center;">Per Unit Price</th>
                                            <th style="text-align:center;">Discounts</th>
                                            <th style="text-align:center;">Sub Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in Equipement">
                                            <td style="text-align:center;"><input type="checkbox" style="border:1px grey;" class="icheckbox_minimal-grey activeCheckbox" ng-model="a.active" ng-true-value="1" ng-false-value="0" ng-click="SetData(a)" /></td>
                                            <td style="text-align:center;">
                                                {{a.ItemName}}
                                            </td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="qty=0" ng-model="a.qty" min="0" /></td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="perunit=0" ng-model="a.perunit" min="0" /></td>
                                            <td style="text-align:center;"></td>
                                            <td style="text-align:center;">{{a.qty*a.perunit}}</td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="height:50px">

                                            <td colspan="6" align="center"><button class="btn btn-primary form-control" style="width:100%;height:40px;" ng-click="SendInvoice();">Send Enquiry</button></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Send Shipping order-->
    <div id="Modal-header-shippingorder" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Shipping Order Form</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                            <div class="row">
                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Email" style="width:100%"></div>
                                <div class="col-md-6">
                                    Supplier:<select ng-options="Cust.Name for Cust in Customers track by Cust.id" ng-model="Cust" style="width:60%">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top:10px;">
                                <table class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr style="height:50px">
                                            <th style="text-align:center;">Selected Item</th>
                                            <th style="text-align:center;">Item</th>
                                            <th style="text-align:center;">Item Description</th>
                                            <th style="text-align:center;">No. of Units</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in Equipement">
                                            <td style="text-align:center;"><input type="checkbox" style="border:1px grey;" class="icheckbox_minimal-grey activeCheckbox" ng-model="a.active" ng-true-value="1" ng-false-value="0" ng-click="SetData(a)" /></td>
                                            <td style="text-align:center;">
                                                {{a.Name}}
                                            </td>
                                            <td style="text-align:center;"><input type="text" ng-model="a.des" class="form-control" /></td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="qty=0" ng-model="a.qty" min="0" /></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="height:50px">

                                            <td colspan="5" align="center"><button class="btn-primary form-control" style="height:40px;width:100%;font-size:12px;border-radius:10px;" ng-click="SendMail()">Send Enquiry</button></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Generate and send supplier purchar order-->
    <div id="Modal-header-purchaseorder" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Send Suppliers Purchase Order</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                            <div class="row">
                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Email" style="width:100%"></div>
                                <div class="col-md-6">
                                            Supplier:<select ng-options="sup.Name for sup in Suppliers track by sup.id" ng-model="Cust" style="width:60%" ng-change="setemail(Cust);">
                                                            <option value="">All</option>
                                                        </select>
                                </div>
                            </div>

                            <!--<div class="row" style="margin-top:5px;">

                                <input type="file" file-reader="fileContent" style="width:100%" />
                            </div>-->
                            <div class="row" style="margin-top:10px;">

                                <table class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr style="height:50px">
                                            <th style="text-align:center;">Selected Item</th>
                                            <th style="text-align:center;">Item</th>
                                            <th style="text-align:center;">Quantity</th>
                                            <th style="text-align:center;">Per Unit Price</th>
                                            <th style="text-align:center;">Discounts</th>
                                            <th style="text-align:center;">Sub Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in Equipement">
                                            <td style="text-align:center;"><input type="checkbox" style="border:1px grey;" class="icheckbox_minimal-grey activeCheckbox" ng-model="a.active" ng-true-value="1" ng-false-value="0" ng-click="SetData(a)" /></td>
                                            <td style="text-align:center;">
                                                {{a.ItemName}}
                                            </td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="qty=0" ng-model="a.qty" min="0" /></td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="perunit=0" ng-model="a.perunit" min="0" /></td>
                                            <td style="text-align:center;"></td>
                                            <td style="text-align:center;">{{a.qty*a.perunit}}</td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="height:50px">

                                            <td colspan="6" align="center"><button class="btn btn-primary form-control" style="width:100%;height:40px;" ng-click="SendPurchaseOrder();">Send Enquiry</button></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Generate and send Delivery Note-->
    <div id="Modal-header-Deliverynote" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Send Delivery Note</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                            <div class="row">
                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Email" style="width:100%"></div>
                                <div class="col-md-6">
                                    Customer:<select ng-options="Cust1.Name for Cust1 in Customers track by Cust1.id" ng-model="Cust" style="width:60%" ng-change="setemail(Cust);">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>

                            <!--<div class="row" style="margin-top:5px;">

                                <input type="file" file-reader="fileContent" style="width:100%" />
                            </div>-->
                            <div class="row" style="margin-top:10px;">

                                <table class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr style="height:50px">
                                            <th style="text-align:center;">Selected Item</th>
                                            <th style="text-align:center;">Item</th>
                                            <th style="text-align:center;">ORDERED</th>
                                            <th style="text-align:center;">Delivered</th>
                                            <th style="text-align:center;">Out Standing</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in Equipement">
                                            <td style="text-align:center;"><input type="checkbox" style="border:1px grey;" class="icheckbox_minimal-grey activeCheckbox" ng-model="a.active" ng-true-value="1" ng-false-value="0" ng-click="SetData(a)" /></td>
                                            <td style="text-align:center;">
                                                {{a.ItemName}}
                                            </td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="qty=0" ng-model="a.qty" min="0" /></td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="perunit=0" ng-model="a.perunit" min="0" /></td>
                                            <!--<td style="text-align:center;"></td>-->
                                            <td style="text-align:center;"></td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="height:50px">

                                            <td colspan="6" align="center"><button class="btn btn-primary form-control" style="width:100%;height:40px;" ng-click="sendDeliveryNote();">Send Delivery Note</button></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--send invoice to customer-->
    <div id="Modal-header-cutomerinvoice" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Send Suppliers Invoice</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<button class="btn btn-primary" style="height:45px;width:100px;font-size:16px;">Primary</button>-->
                            <div class="row">
                                <div class="col-md-6">EmailID:<input type="text" placeholder="Plese Enter Email Address" ng-model="Email" style="width:100%"></div>
                                <div class="col-md-6">
                                    Supplier:<select ng-options="sup.Name for sup in Suppliers track by sup.id" ng-model="Cust" style="width:60%" ng-change="setemail(Cust);">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>

                            <!--<div class="row" style="margin-top:5px;">

                                <input type="file" file-reader="fileContent" style="width:100%" />
                            </div>-->
                            <div class="row" style="margin-top:10px;">

                                <table class="table table-bordered" style="background-color: white;">
                                    <thead>
                                        <tr style="height:50px">
                                            <th style="text-align:center;">Selected Item</th>
                                            <th style="text-align:center;">Item</th>
                                            <th style="text-align:center;">Quantity</th>
                                            <th style="text-align:center;">Per Unit Price</th>
                                            <th style="text-align:center;">Discounts</th>
                                            <th style="text-align:center;">Sub Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="a in Equipement">
                                            <td style="text-align:center;"><input type="checkbox" style="border:1px grey;" class="icheckbox_minimal-grey activeCheckbox" ng-model="a.active" ng-true-value="1" ng-false-value="0" ng-click="SetData(a)" /></td>
                                            <td style="text-align:center;">
                                                {{a.ItemName}}
                                            </td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="qty=0" ng-model="a.qty" min="0" /></td>
                                            <td style="text-align:center;"><input type="number" placeholder="0" style="width:45px;" ng-init="perunit=0" ng-model="a.perunit" min="0" /></td>
                                            <td style="text-align:center;"></td>
                                            <td style="text-align:center;">{{a.qty*a.perunit}}</td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="height:50px">

                                            <td colspan="6" align="center"><button class="btn btn-primary form-control" style="width:100%;height:40px;" ng-click="sendInvoicustomer();">Send Invoice</button></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="UI/js/jquery-1.10.2.min.js"></script>
        <script src="UI/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="UI/js/jquery-ui.js"></script>
        <!--loading bootstrap js-->
    
    
        <script src="UI/vendors/bootstrap/js/bootstrap.js"></script>
        <script src="UI/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
        <script src="UI/vendors/metisMenu/jquery.metisMenu.js"></script>
        <script src="UI/vendors/slimScroll/jquery.slimscroll.js"></script>
        <script src="UI/js/fileupload/angular-file-upload-shim.js"></script>
        <script src="UI/js/fileupload/ng-file-upload-shim.js"></script>
        <script src="UI/vendors/jquery-cookie/jquery.cookie.js"></script>
        <script src="UI/vendors/iCheck/icheck.min.js"></script>
        <script src="UI/vendors/iCheck/custom.min.js"></script>
        <script src="UI/vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
    
        <script src="UI/js/jquery.menu.js"></script>
        <script src="UI/vendors/jquery-pace/pace.min.js"></script>
        <script src="UI/vendors/holder/holder.js"></script>
        <script src="UI/vendors/responsive-tabs/responsive-tabs.js"></script>
                                    <!--LOADING SCRIPTS FOR PAGE-->
    
    <!--<script src="UI/js/FileSaver.js"></script>-->
                                    <script src="UI/js/angular.js"></script>
    <script src="UI/js/fileupload/ng-file-upload.js"></script>
    
    <!--<script src="UI/js/fileupload/Upload.js"></script>-->
                                    
    <script src='UI/js/angular-animate.js'></script>
    <script src="UI/js/ngStorage.js"></script>
    <!--<script src='UI/js/treasure-overlay-spinner.js'></script>-->
    <script src="UI/js/ui-bootstrap-tpls-1.3.3.js"></script>
    
    <script src="UI/js/testing.js"></script>        

</body>
</html>