/****** Object:  Table [dbo].[CommType]    Script Date: 08-12-2018 11:54:15 ******/
DROP TABLE [dbo].[CommType]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 08-12-2018 11:54:59 ******/
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[CustomerQuote]    Script Date: 08-12-2018 11:55:18 ******/
DROP TABLE [dbo].[CustomerQuote]
GO
/****** Object:  Table [dbo].[DocTypes]    Script Date: 08-12-2018 11:55:46 ******/
DROP TABLE [dbo].[DocTypes]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 08-12-2018 11:56:05 ******/
DROP TABLE [dbo].[Documents]
GO
/****** Object:  Table [dbo].[ItemPricing]    Script Date: 08-12-2018 11:56:34 ******/
DROP TABLE [dbo].[ItemPricing]
GO
/****** Object:  Table [dbo].[OrderConfirmation]    Script Date: 08-12-2018 11:56:56 ******/
DROP TABLE [dbo].[OrderConfirmation]
GO
/****** Object:  Table [dbo].[OrderConfirmationDocs]    Script Date: 08-12-2018 11:57:14 ******/
DROP TABLE [dbo].[OrderConfirmationDocs]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 08-12-2018 11:57:29 ******/
DROP TABLE [dbo].[Payment]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 08-12-2018 11:57:49 ******/
DROP TABLE [dbo].[PurchaseOrder]
GO
/****** Object:  Table [dbo].[QuoteRequest]    Script Date: 08-12-2018 11:58:11 ******/
DROP TABLE [dbo].[QuoteRequest]
GO
/****** Object:  Table [dbo].[QuoteRequestDocs]    Script Date: 08-12-2018 11:58:32 ******/
DROP TABLE [dbo].[QuoteRequestDocs]
GO
/****** Object:  Table [dbo].[QuoteResponse]    Script Date: 08-12-2018 11:59:00 ******/
DROP TABLE [dbo].[QuoteResponse]
GO
/****** Object:  Table [dbo].[RFQ]    Script Date: 08-12-2018 11:59:16 ******/
DROP TABLE [dbo].[RFQ]
GO
/****** Object:  Table [dbo].[RFQDetails]    Script Date: 08-12-2018 11:59:56 ******/
DROP TABLE [dbo].[RFQDetails]
GO
/****** Object:  Table [dbo].[RFQDocs]    Script Date: 08-12-2018 12:00:14 ******/
DROP TABLE [dbo].[RFQDocs]
GO
/****** Object:  Table [dbo].[RFQEstimation]    Script Date: 08-12-2018 12:00:38 ******/
DROP TABLE [dbo].[RFQEstimation]
GO
/****** Object:  Table [dbo].[RFQStaff]    Script Date: 08-12-2018 12:00:53 ******/
DROP TABLE [dbo].[RFQStaff]
GO
/****** Object:  Table [dbo].[ShippingOrder]    Script Date: 08-12-2018 12:01:28 ******/
DROP TABLE [dbo].[ShippingOrder]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 08-12-2018 12:01:55 ******/
DROP TABLE [dbo].[Supplier]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 08-12-2018 12:01:14 ******/
DROP TABLE [dbo].[Role]
GO
/****** Object:  Table [dbo].[SupplierInvoice]    Script Date: 08-12-2018 12:02:11 ******/
DROP TABLE [dbo].[SupplierInvoice]
GO
/****** Object:  Table [dbo].[TransactionMaster]    Script Date: 08-12-2018 12:02:39 ******/
DROP TABLE [dbo].[TransactionMaster]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 08-12-2018 12:02:57 ******/
DROP TABLE [dbo].[UserLogin]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 08-12-2018 12:03:18 ******/
DROP TABLE [dbo].[UserRoles]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08-12-2018 12:03:35 ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[ObjectType]    Script Date: 11-12-2018 19:44:54 ******/
DROP TABLE [dbo].[ObjectType]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 11-12-2018 19:44:48 ******/
DROP TABLE [dbo].[Items]
GO
/****** Object:  Table [dbo].[ItemModelHierarchy]    Script Date: 11-12-2018 19:44:43 ******/
DROP TABLE [dbo].[ItemModelHierarchy]
GO
/****** Object:  Table [dbo].[ItemModel]    Script Date: 11-12-2018 19:44:37 ******/
DROP TABLE [dbo].[ItemModel]
GO
/****** Object:  Table [dbo].[RFQResources]    Script Date: 11-12-2018 19:48:33 ******/
DROP TABLE [dbo].[RFQResources]
GO
/****** Object:  Table [dbo].[RFQUsers]    Script Date: 11-12-2018 19:49:09 ******/
DROP TABLE [dbo].[RFQUsers]
GO
/****** Object:  Table [dbo].[EditHistory]    Script Date: 11-12-2018 20:05:48 ******/
DROP TABLE [dbo].[EditHistory]
GO
/****** Object:  Table [dbo].[EditHistoryDetails]    Script Date: 11-12-2018 20:06:02 ******/
DROP TABLE [dbo].[EditHistoryDetails]
GO
ALTER TABLE [dbo].[Types] DROP CONSTRAINT [FK_Types_TypeGroups]
GO

ALTER TABLE [dbo].[Types] DROP CONSTRAINT [DF__Types__active__7B5B524B]
GO

/****** Object:  Table [dbo].[Types]    Script Date: 11-12-2018 20:08:45 ******/
DROP TABLE [dbo].[Types]
GO
/****** Object:  Table [dbo].[TypeGroups]    Script Date: 11-12-2018 20:08:40 ******/
DROP TABLE [dbo].[TypeGroups]
GO


/****** Object:  Table [dbo].[CommType]    Script Date: 08-12-2018 11:54:15 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CommType](
	[Email] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Phone] [varchar](50) NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 08-12-2018 11:54:59 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] NULL,
	[CustomerName] [varchar](50) NULL,
	[CustomerCode] [varchar](50) NULL,
	[CustomerAddress] [varchar](50) NULL,
	[CustomerContact1] [varchar](50) NULL,
	[CustomerContact2] [varchar](50) NULL,
	[CustomerEmail] [varchar](50) NULL,
	[Active] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerQuote]    Script Date: 08-12-2018 11:55:18 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[CustomerQuote](
	[CQuoteID] [int] NULL,
	[CustomerID] [int] NULL,
	[RFQID] [int] NULL,
	[QuoteResponseID] [int] NULL,
	[DocID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DocTypes]    Script Date: 08-12-2018 11:55:46 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[DocTypes](
	[RFQ] [varchar](50) NULL,
	[RFQDetails] [varchar](50) NULL,
	[Quote] [varchar](50) NULL,
	[PO] [varchar](50) NULL,
	[SO] [varchar](50) NULL,
	[Invoice] [varchar](max) NULL,
	[DeliveryNote] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 08-12-2018 11:56:05 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Documents](
	[DocID] [int] NULL,
	[Type] [varchar](50) NULL,
	[Extension] [varchar](50) NULL,
	[Content] [varchar](50) NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[UploadBy] [varchar](50) NULL,
	[LastUpdatedOn] [datetime] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemPricing]    Script Date: 08-12-2018 11:56:34 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ItemPricing](
	[ItemPricingID] [int] NULL,
	[RFQID] [int] NULL,
	[RFQDetailID] [int] NULL,
	[QuoteResponseID] [int] NULL,
	[SupplierUnitPrice] [money] NULL,
	[SupplierTotal] [money] NULL,
	[UnitPriceMargin] [money] NULL,
	[TotalMargin] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderConfirmation]    Script Date: 08-12-2018 11:56:56 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[OrderConfirmation](
	[OrderConfirmationID] [int] NULL,
	[RFQID] [int] NULL,
	[CustomerID] [int] NULL,
	[ConfirmedOn] [datetime] NULL,
	[CommType] [varchar](50) NULL,
	[Active] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderConfirmationDocs]    Script Date: 08-12-2018 11:57:14 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[OrderConfirmationDocs](
	[OrderConfirmationDocsID] [int] NULL,
	[OrderConfirmationID] [int] NULL,
	[DocID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment]    Script Date: 08-12-2018 11:57:29 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] NULL,
	[InvoiceID] [int] NULL,
	[SupplierID] [int] NULL,
	[Amount] [money] NULL,
	[ModeofPayment] [varchar](50) NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[ReceiptDoc] [varchar](max) NULL,
	[PaymentVoucher] [varchar](max) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 08-12-2018 11:57:49 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[PurchaseOrder](
	[PurchaseOrderID] [int] NULL,
	[RFQID] [int] NULL,
	[RFQDetailID] [int] NULL,
	[SupplierID] [int] NULL,
	[RFQEstimation] [varchar](50) NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[EstimatedStart] [datetime] NULL,
	[EstimatedEnd] [datetime] NULL,
	[Active] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QuoteRequest]    Script Date: 08-12-2018 11:58:11 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[QuoteRequest](
	[RFQDetailID] [int] NULL,
	[SentOn] [varchar](50) NULL,
	[SentTo] [varchar](50) NULL,
	[IsReplyReceived] [varchar](50) NULL,
	[ReceivedOn] [datetime] NULL,
	[RFQID] [int] NULL,
	[SupplierID] [int] NULL,
	[UnitPrice] [money] NULL,
	[Total] [money] NULL,
	[CommType] [varchar](50) NULL,
	[Priority] [varchar](50) NULL,
	[IsSelected] [varchar](50) NULL,
	[IsApproved] [varchar](50) NULL,
	[SentEmailtoCustomer] [varchar](50) NULL,
	[DocID] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QuoteRequestDocs]    Script Date: 08-12-2018 11:58:32 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[QuoteRequestDocs](
	[QRDocsID] [int] NULL,
	[DocID] [int] NULL,
	[QRID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuoteResponse]    Script Date: 08-12-2018 11:59:00 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[QuoteResponse](
	[QuoteResponseID] [int] NULL,
	[RFQDetailID] [int] NULL,
	[ReceivedOn] [datetime] NULL,
	[ReceivedFrom] [varchar](50) NULL,
	[IsReplyReceived] [varchar](50) NULL,
	[RFQID] [int] NULL,
	[SupplierID] [int] NULL,
	[UnitPrice] [money] NULL,
	[Total] [money] NULL,
	[CommType] [varchar](50) NULL,
	[Priority] [varchar](50) NULL,
	[IsSelected] [varchar](50) NULL,
	[IsApproved] [varchar](50) NULL,
	[SentEmailtoCustomer] [varchar](50) NULL,
	[QRID] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RFQ]    Script Date: 08-12-2018 11:59:16 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[RFQ](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RFQID] [varchar](50) NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[RFQUID] [int] NULL,
	[RFQComType] [varchar](50) NULL,
	[CustomerId] [int] NULL,
	[CustomerEmail] [varchar](50) NULL,
	[CustomerPhoneno] [varchar](50) NULL,
	[CustomerFaxno] [varchar](50) NULL,
	[SmanagerId] [int] NULL,
	[Name] [varchar](50) NULL,
	[StatusId] [int] NULL,
	[Description] [varchar](250) NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RFQDetails]    Script Date: 08-12-2018 11:59:56 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[RFQDetails](
	[RFQID] [int] NULL,
	[ItemID] [int] NULL,
	[No] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Category] [varchar](50) NULL,
	[SMID] [int] NULL
) ON [PRIMARY]

GO


SET ANSI_PADDING OFF
GO	
/****** Object:  Table [dbo].[RFQDocs]    Script Date: 08-12-2018 12:00:14 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[RFQDocs](
	[RFQDocsID] [int] NULL,
	[DocID] [int] NULL,
	[RFQID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RFQEstimation]    Script Date: 08-12-2018 12:00:38 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[RFQEstimation](
	[RFQEstimationID] [int] NULL,
	[RFQID] [int] NULL,
	[RFQDetailID] [int] NULL,
	[DocID] [int] NULL,
	[QuoteResponseID] [int] NULL,
	[ItemPricingID] [int] NULL,
	[CustomerID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RFQStaff]    Script Date: 08-12-2018 12:00:53 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[RFQStaff](
	[RFQStaffID] [int] NULL,
	[RFQID] [int] NULL,
	[RFQDetailID] [int] NULL,
	[UserID] [int] NULL,
	[UserType] [varchar](50) NULL,
	[Active] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 08-12-2018 12:01:14 ******/
SET ANSI_NULLS ON
GO

/****** Object:  Table [dbo].[Roles]    Script Date: 12/13/2018 6:23:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
	[Active] [int] NOT NULL,
	[IsPublic] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ShippingOrder]    Script Date: 08-12-2018 12:01:28 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ShippingOrder](
	[ShippingOrderID] [int] NULL,
	[SupplierInvoiceID] [int] NULL,
	[FromAddress] [varchar](50) NULL,
	[ToAddress] [varchar](50) NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[ArrivedOn] [datetime] NULL,
	[DeliveredOn] [datetime] NULL,
	[RFQID] [int] NULL,
	[Active] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 08-12-2018 12:01:55 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] NULL,
	[SupplierName] [varchar](50) NULL,
	[SupplierCode] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Contact1] [varchar](50) NULL,
	[Contact2] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Active] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SupplierInvoice]    Script Date: 08-12-2018 12:02:11 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[SupplierInvoice](
	[SupplierInvoiceID] [int] NULL,
	[RFQID] [int] NULL,
	[RFQDetailID] [int] NULL,
	[SupplierID] [int] NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[CommType] [varchar](50) NULL,
	[DocID] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TransactionMaster]    Script Date: 08-12-2018 12:02:39 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TransactionMaster](
	[TransactionMasterID] [int] NULL,
	[Amount] [money] NULL,
	[Type] [varchar](50) NULL,
	[RFQDetail] [varchar](50) NULL,
	[RFQID] [int] NULL,
	[Active] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[UserLogins]    Script Date: 12/13/2018 6:23:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[UserLogins](
	[LoginInfo] [nvarchar](50) NOT NULL,
	[PassKey] [nvarchar](50) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[salt] [varchar](50) NULL,
	[Active] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 12/13/2018 6:23:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CompanyId] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/13/2018 6:23:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[EmpNo] [varchar](20) NOT NULL,
	[EmailId] [varchar](50) NOT NULL,
	[RoleId] [int] NULL,
	[CompanyId] [int] NULL,
	[Active] [int] NULL,
	[GenderId] [int] NULL,
	[ManagerId] [int] NULL,
	[CountryId] [int] NULL,
	[StateId] [int] NULL,
	[ZipCode] [varchar](10) NULL,
	[ContactNo1] [varchar](20) NULL,
	[ContactNo2] [varchar](20) NULL,
	[Address] [varchar](500) NULL,
	[AltAddress] [varchar](500) NULL,
	[photo] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Active]  DEFAULT ((1)) FOR [Active]
GO


SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ObjectType]    Script Date: 11-12-2018 19:44:54 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ObjectType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](250) NULL,
	[Active] [int] NOT NULL,
	[DataTypeID] [int] NOT NULL,
 CONSTRAINT [PK_ObjectType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Items]    Script Date: 11-12-2018 19:44:48 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Items](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](250) NULL,
	[ItemTypeId] [int] NULL,
	[ParentID] [int] NULL,
	[RootAssetID] [int] NOT NULL,
	[Path] [varchar](500) NOT NULL,
	[Active] [int] NOT NULL,
	[LocationId] [int] NULL,
	[ItemModelId] [int] NOT NULL,
	[CurrLocation] [int] NULL,
	[ManufactureId] [int] NULL,
	[RFQId] [varchar](100) NULL,
	[DatePurchased] [date] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[RFQRate] [decimal](18, 2) NULL,
	[Rental] [decimal](18, 2) NULL,
	[AdditionalDayRate] [decimal](18, 2) NULL,
	[DayRate] [decimal](18, 2) NULL,
	[PerWeekStbyCharge] [decimal](18, 2) NULL,
	[RedressCost] [decimal](18, 2) NULL,
	[DateSold] [date] NULL,
	[LostDamaged] [date] NULL,
	[Price] [decimal](18, 2) NULL,
	[CycleCountDate] [date] NULL,
	[StatusId] [int] NULL,
	[Locked] [int] NULL,
	[SerialNumber] [varchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[CreatedId] [int] NULL,
	[UpdatedId] [int] NULL,
	[Condition] [int] NULL,
	[Material] [int] NULL,
	[PurchaseCost] [decimal](18, 2) NULL,
	[Customer] [int] NULL,
	[LostLIHDamaged] [varchar](250) NULL,
	[LocationDate] [date] NULL,
	[Notes] [varchar](250) NULL,
 CONSTRAINT [PK_Asset] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemModelHierarchy]    Script Date: 11-12-2018 19:44:43 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ItemModelHierarchy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemModelId] [int] NOT NULL,
	[ObjTypeId] [int] NOT NULL,
	[ParentId] [int] NULL,
	[ParentObjTypeId] [int] NULL,
 CONSTRAINT [PK_ItemModelHierarchy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemModel]    Script Date: 11-12-2018 19:44:37 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ItemModel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[description] [varchar](250) NULL,
	[ItemTypeId] [int] NOT NULL,
 CONSTRAINT [PK_ItemModel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RFQResources]    Script Date: 11-12-2018 19:48:33 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[RFQResources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RFQId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[Sequence] [int] NULL,
 CONSTRAINT [PK_RFQResources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[RFQUsers]    Script Date: 11-12-2018 19:49:09 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[RFQUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RFQId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[Sequence] [int] NULL,
 CONSTRAINT [PK_RFQUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EditHistory]    Script Date: 11-12-2018 20:05:48 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[EditHistory](
	[Field] [varchar](50) NOT NULL,
	[SubItem] [varchar](50) NOT NULL,
	[Comment] [varchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ChangedBy] [varchar](50) NOT NULL,
	[ChangedType] [varchar](50) NOT NULL,
	[Task] [varchar](50) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_EditHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[EditHistoryDetails]    Script Date: 11-12-2018 20:06:02 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[EditHistoryDetails](
	[EditHistoryId] [int] NOT NULL,
	[FromValue] [varchar](50) NULL,
	[ToValue] [varchar](50) NULL,
	[ChangeType] [varchar](50) NOT NULL,
	[Field1] [varchar](50) NULL,
	[Field2] [varchar](50) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_EditHistoryDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[EditHistoryDetails]  WITH CHECK ADD  CONSTRAINT [FK_EditHistoryDetails_EditHistoryId] FOREIGN KEY([EditHistoryId])
REFERENCES [dbo].[EditHistory] ([Id])
GO

ALTER TABLE [dbo].[EditHistoryDetails] CHECK CONSTRAINT [FK_EditHistoryDetails_EditHistoryId]
GO
/****** Object:  Table [dbo].[TypeGroups]    Script Date: 11-12-2018 20:08:40 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TypeGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](250) NULL,
	[Active] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Types]    Script Date: 11-12-2018 20:08:45 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Types](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](250) NULL,
	[TypegroupID] [int] NOT NULL,
	[active] [int] NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[Types] ADD  DEFAULT ((1)) FOR [active]
GO

ALTER TABLE [dbo].[Types]  WITH CHECK ADD  CONSTRAINT [FK_Types_TypeGroups] FOREIGN KEY([TypegroupID])
REFERENCES [dbo].[TypeGroups] ([ID])
GO

ALTER TABLE [dbo].[Types] CHECK CONSTRAINT [FK_Types_TypeGroups]
GO

/****** Object:  Table [dbo].[Customer]    Script Date: 12/13/2018 6:36:13 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[CustomerCode] [varchar](20) NULL,
	[Address] [varchar](250) NULL,
	[ContactNo] [varchar](15) NULL,
	[ContactNo1] [varchar](15) NULL,
	[Email] [varchar](20) NULL,
	[Active] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 12/13/2018 6:36:34 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[SupplierCode] [varchar](20) NULL,
	[Address] [varchar](250) NULL,
	[ContactNo] [varchar](15) NULL,
	[ContactNo1] [varchar](15) NULL,
	[Email] [varchar](20) NULL,
	[Active] [int] NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO